[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
addfips = "~=0.2"
beautifulsoup4 = "~=4.9"
charset_normalizer = "~=2.0"
dominate = "~=2.5"
matplotlib = "~=3.4"
moviepy = "~=1.0"
mplcairo = "~=0.4"
numpy = "~=1.21.1"
openpyxl = "~=3.0"
pandas = "~=1.0"
pyarrow = "~=4.0"
pybind11 = "~=2.7"
pycountry = "~=20.7"
pyreadr = "~=0.3"
requests = "~=2.24"
scipy = "~=1.5"
us = "~=2.0"
xlrd = "~=1.2"
cartopy = "==0.19.0.post1"
cattrs = "*"

[dev-packages]
black = ">=21.7b0"
isort = "~=5.9"
toml = "~=0.10"
wheel = "~=0.34"
virtualenv-clone = "*"
autoflake = "*"

[packages.cachecontrol]
extras = [ "filecache",]
version = "~=0.12.6"

[scripts]
make_site = "env PYTHONPATH=. python covid/make_site.py"
