body { font-family: 'Dejavu Sans', 'Bitstream Vera Sans', sans-serif; }

.graphic { width: 100%; max-width: 1000px; margin: 10px 0 0 0; outline: none; }
.graphic img, .graphic video { max-width: 100%; }

.map_controls { display: flex; margin: 0 -2px; }
.map_controls button {
    margin: 0 2px; border-radius: 5px; border: none; padding: 5px;
    background-color: #D9D9D9; color: #BBBBBB; font-weight: bold; outline: none;
}
.map_controls button:active { background-color: #CCCCCC; }
:focus-within#map_key_target .map_controls button { color: #777777; }
.map_controls button svg { color: #000000; }
.map_controls button.paused svg.fa-pause { color: #6666FF; }
.map_controls button.playing svg.fa-play { color: #6666FF; }
.map_controls button.looping svg { color: #6666FF; }
.map_controls button.seeking svg { color: #6666FF; }
.map_controls input[type="range"] { flex: 1; }

.subregion { display: inline-block; position: relative; }
.subregion_label {
    position: absolute; width: 96%; padding: 10px 2% 0 2%;
    text-align: center; font-size: 22px; font-weight: 900;
    color: black; opacity: 0.7;
}
.subregion_label div { font-size: 70%; font-weight: normal; opacity: 0.8; }

.policies {
    display: grid; gap: 0.2em 0.5em;
    justify-content: start; align-items: center;
}
.policies .date  { grid-column: 1; }
.policies .emoji { grid-column: 2; justify-self: center; }
.policies .text  { grid-column: 3; }
.policy_major { font-weight: bold; }
.policy_close { color: #4E79A7; }
.policy_open  { color: #F28E2B; }

h1 { margin-top: 0px; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 5px; }
.credits { font-style: italic; }
.emoji { font-family: Noto Color Emoji; }
.nobreak { white-space: nowrap; }
