body { font-family: 'Dejavu Sans', 'Bitstream Vera Sans', sans-serif; }

.thumb { display: inline-block; position: relative; }
.thumb .thumb_label {
    position: absolute; top: 18px; width: 100%; text-align: center;
    font-size: 22px; font-weight: 900;
    color: black; opacity: 0.5;
}

.plot { width: 100%; max-width: 60em; }

.events { 
    display: grid; gap: 0.2em 0.5em;
    justify-content: start; align-items: center;
}
.event_date { grid-column: 1; }
.event_policy { grid-column: 3; }
.event_policy.score_2, .event_policy.score_3 { font-weight: bold; }
.event_emoji {
    grid-column: 2; justify-self: center;
    font-family: Noto Color Emoji;
}

.event_policy.event_close, h2 .event_close { color: #4E79A7; }
.event_policy.event_open,  h2 .event_open  { color: #F28E2B; }

.credits { font-style: italic; }
